@{
    Layout = null;
    var value = ViewBag.v as EmployeeComposite ;
}

<link href="~/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card-header">
                Toplam Personel Sayısı: @value.TotalEmployee()
            </div>
            <div class="card-body">
                @foreach (var item in value.Components)
                {
                    @Html.Raw(item.Display())
                    ;
                }
            </div>
        </div>
    </div>
</div>